@import "variables";

.App {
    margin: 0 auto;
    width: 600px;

    &__fill {
        color: $darkViolet;
        font-size: 20px;
        font-weight: bold;
    }
}

.NewCommentForm {
    @include blockShadow;

    text-align: center;
    background-color: white;
    padding: 10px;
    margin: 20px 0;

    &__input {
        display: block;
        margin-top: 20px;
    }

    &__error {
        color: red;
    }
}

.comments {
    @include blockShadow;

    padding: 10px;
    background-color: white;

    &__item {
        @include blockShadow;

        display: block;
        padding: 5px;
        width: 97%;
        margin: 0 auto 5px auto;
        border-left: 10px solid $lightPink;
    }

    &__name {
        color: $darkViolet;
    }

    &__date {
        color: grey;
        font-size: 10px;
        padding-left: 5px;
    }
}

.button {
    margin: 20px 0;
    transition: background-color 0.5s;
}
